@using LeCongCompany.LeCongTemplate.Web.Areas.AppAreaLeCong.Models.Common
@model IFeatureEditViewModel
<div class="feature-tree">
    @await Html.PartialAsync("~/Areas/AppAreaLeCong/Views/Common/_FeaturesTreeItem.cshtml", new FeatureTreeItemModel(Model, null))
</div>