@using LeCongCompany.LeCongTemplate.Web.Areas.AppAreaLeCong.Models.Layout
@using LeCongCompany.LeCongTemplate.Web.Areas.AppAreaLeCong.Views.Shared.Components.AppAreaLeCongLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="brand-logo">
    @await Component.InvokeAsync(typeof(AppAreaLeCongLogoViewComponent), new {logoSkin = "light-sm", logoClass = "max-h-30px"})
</a>
